* {
    /* margin: 0 !important; */
    /* padding: 0 !important; */
     box-sizing: border-box;
}

/* .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important; 
} */

@font-face {
    font-family: "Wrestlemania";
    src: url(../fonts/WRESTLEMANIA.ttf);
}

body {
    background-color: rgb(0, 0, 0);
}


.header {
    border: inset;
    border-color: rgb(7, 0, 0);
    font-weight: bolder;
    font-size: 18px;
    padding: 7px 20px;
    background-image: linear-gradient(to right, rgb(196, 46, 121), rgb(239, 68, 68), rgb(206, 169, 58));
}

h1 {
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-family: "wrestlemania";
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 5px 5px black;
    margin: 10px;
    margin-left: 20px;
    background-size: contain;
    background-position: center;
    transition: all .5s linear;
}

h1:hover{
    color: rgb(179, 74, 74);
}


.nav-item :hover {
    background-image: linear-gradient(to bottom, #804ddf, #4c5353);
}


/* ------ Logo hover ------ */

.logo {
    float: left;
    margin-left: 20px;
    transition: all 0.5s;
}

.logo:hover{
    transform: scale(1.3);
}

/* ------ Carrousel ------ */

.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

.slider ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: auto;
}

.slider li {
    list-style: none;
    width: 100%;
} 

  .slide img {
    width: 100%;
    height: 100%;
  }

  @keyframes cambio{
    0% {
        margin-left: -0%;
        margin-left: -10%;
      }
  
      50% {
        margin-left: -70%;
        margin-left: -73%;
      }
  
      50% {
        margin-left: -70%;
        margin-left: -73%;
      }
  
      100% {
        margin-left: -120%;
      }
}

/* ------------ */


main {
    background-color: rgb(134, 168, 212);
    background-image: url(../img/mainb.jpg);
    grid-area: main;
    text-align: center;
}


.titulo {
    height: 50px;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
    animation-duration: 3s;
    animation-name: slide;
    transition: all 0.5s;
}


@keyframes slide {
    from {
        margin-left: 35%;
        width: auto;
    }

    to {
        margin: left;
    }
}

h2 {
    height: 50px;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.intro {
    border: dotted;
    border-radius: 20px;
    font-size: 18px;
    border-color: rgb(28, 167, 102);
    text-align: center;
    margin-bottom: 15px;
}

/* ------ Animacion ofertas ------ */

h3 {
    font-size: 200%;
    padding: 1%;
    background-color: brown;
    text-align: center;
    margin-top: 15px;
    border: inset;
    border-color: black;
    border-radius: 20px; 
}


.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

/* ---------- CONTAINER - INDEX ---------- */

/* .container {
    display: grid;
    grid-gap: 0.2rem;
    height: 250vh;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.1fr 1fr 0.4fr 0.1fr;
    grid-template-areas: "header header header header"
    "main main main sidebar"
    "content1 content2 content3 sidebar"
    "footer footer footer footer"


    #sidebar {
        background-color: rgb(68, 194, 152);
        grid-area: sidebar;
    } */

#content1 {
    background-color: rgb(199, 180, 223);
    grid-area: content1;
}

#content2 {
    background-color: rgba(128, 221, 190);
    grid-area: content2;
}

#content3 {
    background-color: rgb(147, 192, 243);
    grid-area: content3;
}

footer {
    grid-area: footer;
    text-align: center;
}


/* ----------- MOBILE INDEX -------------- */

@media only screen and (max-width: 580px) {
    .container {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
            "header"
            "main"
            "content1"
            "content2"
            "content3"
            "footer";
    }

    header {
        background-image: url(../img/miniwolf.jpg);
        text-align: center;
    }

    h1 {
        display: flex;
        flex-direction: column;
    }

    #nosotros {
        display: none;
    }

    .logo {
        display: none;
        float: left;
        margin-left: 20px;
        width: 8%;
    }

    .titulo {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .compu {
        width: 100%;
        height: auto;
    }

    #sidebar {
        display: none;
    }

    #content1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #content2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #content3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {

    .slider {
        display: none;
    }
}

/* -------- CONTAINER B / CONTACTO ------------------- */

.formulario {
    background-color: black;
    color: aliceblue;
    border-style: solid;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.textarea {
    max-width: 95%;
}

.contactos {
    padding-top: 10px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(196, 133, 81);
}

.mainb {
    background-image: url(../img/wal.jpg);
}


/* ---------- MOBILE B / CONTACTO ---------- */

/* @media only screen and (max-width: 480px) {
    .containerb {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr;
        grid-template-areas:
            "headerb"
            "mainb"
            "footerb"
    }

    .headerb {
        text-align: center;
        background-image: url(../img/miniwolf.jpg);
        background-position: center;
    }

    .mainb {
        display: grid;
        background-color: rgb(228, 159, 147);
        height: fit-content;
    }

    .contactos {
        font-size: 30px;
    }

    textarea {
        width: 280px;
    }

    .navegacionb {
        font-size: small;
    }

} */


/* ---------- Container C - Tarjetas graficas ---------- */

.containerc {
    /* display: grid; */
    grid-gap: 0.2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 2fr 0.1fr;
    grid-template-areas: "headerc headerc headerc"
        "mainc mainc mainc"
        "footerc footerc footerc"
}

.headerc {
    grid-area: headerc;
}

.mainc {
    background-image: url(../img/mainc.jpg);
    grid-area: mainc;
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
}

.footerc {
    grid-area: footerc;
}

.tarjeta1 {
    flex-direction: column;
    grid-area: tarjeta1;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(61, 136, 74);
}

.tarjeta2 {

    flex-direction: column;
    grid-area: tarjeta2;
    margin-top: 30px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(61, 136, 74);
}

.tarjeta3 {

    flex-direction: column;
    grid-area: tarjeta3;
    margin-top: 30px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(61, 136, 74);
}

/* ---------- Mobile c --------- */

@media only screen and (max-width: 1200px) {
    .containerc {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 0.1fr;
        grid-template-areas:
            "headerc"
            "mainc"
            "footerc"
    }

    /* .mainc {
        display: flex;
        flex-direction: column;
    } */

    .tarjetasg {
        font-size: 30px;
    }

    .tarjeta1 {
        display: flex;
        flex-direction: column;
        border-style: solid;
        border-radius: 20px;
        border-color: rgb(61, 136, 74);
    }

    .tarjeta2 {

        display: flex;
        flex-direction: column;
        border-style: solid;
        margin-top: 20px;
        border-radius: 20px;
        border-color: rgb(61, 136, 74);
    }

    .tarjeta3 {

        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border-style: solid;
        border-radius: 20px;
        border-color: rgb(61, 136, 74);
    }

}


/* ---------- Container d - Multimedia ---------- */

.containerd {
    /* display: grid; */
    grid-gap: 0.2rem;
    height: 150vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.2fr 0.2fr;
    grid-template-areas: "headerd headerd headerd"
        "maind maind maind"
        "footerd footerd footerd"
}

.headerd {
    grid-area: headerd;
}

.maind {
    grid-area: maind;
    background-image: url(../img/backblue.jpg);
    width: 100%;
}

.footerd {
    grid-area: footerd;
}

/* ------------ mobile placas d ----------- */

@media only screen and (max-width: 620px) {
    .containerd {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 0.1fr;
        grid-template-areas:
            "headerd"
            "maind"
            "footerd"
    }

    .maind {
        display: flex;
        flex-direction: column;
        background-image: url(../img/backblue.jpg);
    }

    .titulod {
        margin-bottom: 10px;
        font-size: 23px;
    }

    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .fotos img {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

/* ---------- Container e - Productos ----------- */

.containers {
    width: 100%;
    display: inline-flex;
}

.maine {
    /* height: 100vh; */
    background-color: rgb(184, 162, 204);
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    /* width: 100%; */
    max-height: 150px;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido .p {
    line-height: 1.5;
    color: rgb(110, 92, 92)
}

.card .contenido h5 {
    font-weight: bolder;
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 15px;
}

.card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid rgb(161, 161, 241);
    border-radius: 4px;

}

.card .contenido a:hover {
    background: rgb(155, 155, 231);
    color: rgb(255, 255, 255);
}

/* ----------- Mobile e - Productos ----------- */

@media only screen and (max-width: 1080px) {
    .containere {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 0.1fr;
        grid-template-areas:
            "headere"
            "maine"
            "footere"
    }

    .containers {
        display: flex;
        flex-direction: column;
        margin-right: 80px;
    }

    .maine {
        display: grid;
        height: max-content;
    }

    .card {
        display: grid;
        width: fit-content;
    }

    .card img {
        height: 150px;
        max-width: 100%;
    }
}