* {
    /* margin: 0 !important; */
    /* padding: 0 !important; */
     box-sizing: border-box;
}

@import 'variables';
@import 'mixins';
@import 'tipografias';

@font-face {
    font-family: "Wrestlemania";
    src: url(../fonts/WRESTLEMANIA.ttf);
}

.header {
    border: inset;
    border-color: rgb(7, 0, 0);
    font-weight: bolder;
    font-size: 18px;
    padding: 7px 20px;
    background-image: linear-gradient(to right, rgb(196, 46, 121), rgb(239, 68, 68), rgb(206, 169, 58));
}

h1 {
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-family: "wrestlemania";
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 5px 5px black;
    margin: 10px;
    margin-left: 20px;
    background-size: contain;
    background-position: center;
    transition: all .5s linear;

    &:hover {
        color: brown;
    }
}


/* ------ Logo hover ------ */

.logo {
    float: left;
    margin-left: 20px;
    transition: all 0.5s;

    &:hover{
        transform: scale(1.3);
    }
}

.desplegable {
    transition: all 1s;
}

/* ------ Carrousel ------ */

.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;

    ul {
        display: flex;
        animation: cambio 20s infinite alternate linear;
        width: auto;
    }

    li {
        list-style: none;
        width: 100%;
    } 

  }

  @keyframes cambio{
    0% {
        margin-left: -0%;
        margin-left: -10%;
      }
  
      50% {
        margin-left: -70%;
        margin-left: -73%;
      }
  
      50% {
        margin-left: -70%;
        margin-left: -73%;
      }
  
      100% {
        margin-left: -120%;
      }
}

/* ------------ */


main {
    background-image: url(../img/mainb.jpg);
    grid-area: main;
    text-align: center;
}


.titulo {
    height: 50px;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
    animation-duration: 3s;
    animation-name: slide;
    transition: all 0.5s; 
    color: $color-principal;
}

@keyframes slide {
    from {
        margin-left: 35%;
        width: auto;
    }

    to {
        margin: left;
    }
}

h2 {
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #CE5937;
    color: $color-principal;
}

.intro {
    border: dotted;
    border-radius: 20px;
    font-size: 20px;
    border-color: rgb(28, 167, 102);
    text-align: center;
    margin-bottom: 15px;
    color: white;
    text-shadow: 4px 1px 7px rgba(52,52,52,0.78);
}

/* ------ Animacion ofertas ------ */

h3 {
    font-size: 200%;
    padding: 1%;
    background-color: brown;
    text-align: center;
    margin-top: 15px;
    border: inset;
    border-color: black;
    border-radius: 20px; 
}

.waviy {
    position: relative;

    span {
        position: relative;
        display: inline-block;
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;
        animation: flip 2s infinite;
        animation-delay: calc(.2s * var(--i))
      }
  }
  
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

/* ---------- CONTAINER - INDEX ---------- */

#content1 {
    background-color: rgb(199, 180, 223);
}

#content2 {
    background-color: rgb(143, 211, 190);
}

#content3 {
    background-color: rgb(147, 192, 243);
}

/* ----------- MOBILE INDEX -------------- */

@media only screen and (max-width: 580px) {

    header {
        background-image: url(../img/miniwolf.jpg);
        text-align: center;
    }

    h1 {
        display: flex;
        flex-direction: column;
    }

    #nosotros {
        display: none;
    }

    .logo {
        display: none;
        float: left;
        margin-left: 20px;
        width: 8%;
    }

    .titulo {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .compu {
        width: 100%;
        height: auto;
    }

    #sidebar {
        display: none;
    }

    #content1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #content2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #content3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {

    .slider {
        display: none;
    }
}

/* -------- CONTAINER B / CONTACTO ------------------- */

.formulario {
    background-color: rgba(22, 3, 3, 0.562);
    color: aliceblue;
    border-style: solid;
    border-radius: 20px;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.textarea {
    max-width: 95%;
}

.contactos {
    padding-top: 10px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(196, 133, 81);
}

.mainb {
    background-image: url(../img/wal.jpg);
}


/* ---------- Container C - Tarjetas graficas ---------- */

.mainc {
    background-image: url(../img/mainc.jpg);
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
}

.tarjeta1 {
    flex-direction: column;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(61, 136, 74);
}

.tarjeta2 {

    flex-direction: column;
    margin-top: 30px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(61, 136, 74);
}

.tarjeta3 {

    flex-direction: column;
    margin-top: 30px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(61, 136, 74);
}

/* ---------- Mobile c --------- */

@media only screen and (max-width: 1200px) {

    .tarjetasg {
        font-size: 30px;
    }

    .tarjeta1 {
        display: flex;
        flex-direction: column;
        border-style: solid;
        border-radius: 20px;
        border-color: rgb(61, 136, 74);
    }

    .tarjeta2 {

        display: flex;
        flex-direction: column;
        border-style: solid;
        margin-top: 20px;
        border-radius: 20px;
        border-color: rgb(61, 136, 74);
    }

    .tarjeta3 {

        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border-style: solid;
        border-radius: 20px;
        border-color: rgb(61, 136, 74);
    }
}

/* ---------- Container d - Multimedia ---------- */

.article__images {
    align-items: center;
    margin: 20px;

    img {
        width: 400px;
        height: 400px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5%;
    }

    .img-thumbnail {
        background-color: #6462cc;
    }
}

.intro2 {
    text-shadow: 4px 1px 7px rgba(255, 255, 255, 0.78);
}
/* ------------ mobile placas d ----------- */

@media only screen and (max-width: 620px) {

    .maind {
        display: flex;
        flex-direction: column;
    }

    .titulod {
        margin-bottom: 10px;
        font-size: 28px;
        color: $color-flor;
    }

    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .fotos img {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

/* ---------- Container e - Productos ----------- */

.containers {
    width: 100%;
    display: inline-flex;
}

.maine {
    background-color: rgb(184, 162, 204);
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

    &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }

    img {
        max-height: 150px;
    }

    .contenido {
        padding: 15px;
        text-align: center;

        .p {
            line-height: 1.5;
            color: rgb(110, 92, 92)
        }

        h5 {
            font-weight: bolder;
            font-size: 18px;
            text-decoration: underline;
            margin-bottom: 15px;
        }

        a {
            text-decoration: none;
            display: inline-block;
            padding: 10px;
            margin-top: 20px;
            border: 1px solid rgb(161, 161, 241);
            border-radius: 4px;

            &:hover {
                background: rgb(155, 155, 231);
                color: rgb(255, 255, 255);
            }
        
        }

    }
}

/* ----------- Mobile e - Productos ----------- */

@media only screen and (max-width: 1080px) {
    .containere {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 0.1fr;
        grid-template-areas:
            "headere"
            "maine"
            "footere"
    }

    .containers {
        display: flex;
        flex-direction: column;
        margin-right: 80px;
    }

    .maine {
        display: grid;
        height: max-content;
    }

    .card {
        display: grid;
        width: fit-content;
        img {
            height: 150px;
            max-width: 100%;
        }
    }
}